* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}


/* header */

header {
    background-color: #fff;
    padding: 16px;
}

header nav {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 100%;
    max-width: 139px;
    display: block;
}

header nav ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

header nav ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

header nav button {
    border: none;
    width: 100%;
    max-width: 164px;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Inter", sans-serif;
}


/* header  */



/* Hero Banner Section */

#hero-banner {
    padding: 115px 120px 180px;
    background-image: url('./images/hero-bg.png');
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.hero-content .early {
    display: flex;
    gap: 6px;
    width: 100%;
    max-width: 229px;
    background-color: #fff;
    border-radius: 50px;
    justify-content: center;
    padding: 8px 12px;
}

.hero-content .early img {}

.hero-content .early p {
    color: #469165;
    font-weight: 500;
    font-size: 16px;
}

.hero-content h2 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-content h2 span {
    color: #30B868;
}

.hero-content p {
    color: #fff;
    font-size: 18px;
    line-height: 130%;
    width: 100%;
    max-width: 645px;
    text-align: center;
}

.hero-content .buttons {
    display: flex;
    width: 100%;
    max-width: 465px;
    gap: 16px;
}


.hero-content .buttons .btn1 {
    border: none;
    width: 100%;
    max-width: 251px;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    background-color: #469165;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Inter", sans-serif;
}

.hero-content .buttons .btn2 {
    border: 1px solid #fff;
    width: 100%;
    max-width: 198px;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    background-color: #46916500;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Inter", sans-serif;
}



/* Hero Banner Section */