* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
}

header {
    background-color: rgb(255, 255, 255);
    padding: 16px;
}

header nav {
    width: 100%;
    max-width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    width: 100%;
    max-width: 139px;
    display: block;
}

header nav ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

header nav ul li {
    list-style: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}

header nav button {
    border: none;
    width: 100%;
    max-width: 164px;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    background-color: rgb(70, 145, 101);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    font-family: Inter, sans-serif;
}

#hero-banner {
    padding: 115px 120px 180px;
    background-image: url("./images/hero-bg.png");
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.hero-content .early {
    display: flex;
    gap: 6px;
    width: 100%;
    max-width: 229px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    justify-content: center;
    padding: 8px 12px;
    align-items: center;
}

.hero-content .early img {
    height: 16px;
}

.hero-content .early p {
    color: rgb(70, 145, 101);
    font-weight: 500;
    font-size: 16px;
}

.hero-content h2 {
    font-size: 72px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.hero-content h2 span {
    color: rgb(48, 184, 104);
}

.hero-content p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 130%;
    width: 100%;
    max-width: 645px;
    text-align: center;
}

.hero-content .buttons {
    display: flex;
    width: 100%;
    max-width: 465px;
    gap: 16px;
}

.hero-content .buttons .btn1 {
    border: none;
    width: 100%;
    max-width: 251px;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    background-color: rgb(70, 145, 101);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    font-family: Inter, sans-serif;
}

.hero-content .buttons .btn2 {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    max-width: 198px;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    background-color: rgba(70, 145, 101, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    font-family: Inter, sans-serif;
}

#notes .container {
    width: 100%;
    max-width: 1360px;
    margin: 0px auto;
    padding: 65px 0px 0px;
}

#notes .container h2 {
    font-weight: 700;
    text-align: center;
    font-size: 48px;
}

#notes .container p {
    color: rgb(98, 115, 130);
    text-align: center;
    margin-top: 16px;
}

#notes .container .card-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    text-align: center;
    margin-top: 44px;
}

#notes .container .card-list .card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 8px;
    height: 208px;
}

#notes .container .card-list .card .img {
    width: 60px;
    height: 60px;
    background-color: rgb(249, 85, 85);
    margin: 0px auto;
    display: flex;
    justify-content: center;
    padding: 14px;
    border-radius: 50px;
}

#notes .container .card-list .card .img img {}

#notes .container .card-list .card h3 {
    font-size: 24px;
    font-weight: 600;
    color: rgb(0, 25, 49);
}

#notes .container .card-list .card h4 {
    color: rgb(98, 115, 130);
    font-size: 16px;
    line-height: 20px;
}


/* Second Brain Section */

#second-brain {
    padding: 120px;
    display: flex;
    justify-content: center;
}

#second-brain .container {
    width: 100%;
    max-width: 1360px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

#second-brain .container .image {
    width: 100%;
    max-width: 600px;
}

#second-brain .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

#second-brain .container .content span {
    font-size: 16px;
    text-transform: uppercase;
    color: #30B868;
    font-weight: 500;
    line-height: 20px;
}

#second-brain .container .content h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
    width: 100%;
    max-width: 530px;
}

#second-brain .container .content p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

#second-brain .container .content ul {
    margin-top: 26px;
}

#second-brain .container .content ul li {
    display: flex;
    column-gap: 6px;
    margin-bottom: 16px;
    align-items: center;
}

#second-brain .container .content ul li img {
    width: 16px;
    height: 16px;
}

#second-brain .container .content ul li p {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

/* Second Brain Section */


/* Ready Section */

#ready {
    padding: 0px 120px 120px;
}

#ready .container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    align-items: center;
    background-color: #F7F6F2;
    padding: 80px 40px;
}

#ready .container h2 {
    font-size: 40px;
    font-weight: 700;
}

#ready .container p {
    margin-bottom: 8px;
    width: 100%;
    max-width: 548px;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}

#ready .container button {
    border: none;
    width: 100%;
    max-width: 251px;
    height: 100%;
    padding: 14px;
    border-radius: 4px;
    background-color: rgb(70, 145, 101);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    font-family: Inter, sans-serif;
}

/* Ready Section */